* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* top part start navbar */

nav {
    background-color: #f7f8fc;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 9% 0% 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
}

.nav-logo-container {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60%;
    width: 100%;
    background-image: url("./Accets/Smit-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.nav-bar-lists {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.nav-bar-lists li {
    font-weight: 400;
    color: #364153;
    font-size: 1rem;
    list-style-type: none;
    cursor:pointer;
}

.enroll-btn {
    color: white;
    font-size: 1rem;
    border: none;
    padding: 8px 35px 8px 25px;
    border-radius: 20px;
    background-color: #0B73B7;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
}

.enroll-btn i {
    position: absolute;
    right: 9px;
}

/* second part start banner */

.banner-section {
    background: linear-gradient(to right, #0B73B7, #8bd663);
    padding: 0% 9% 1% 7%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content-line-one {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding-top: 4.5%;
}

.banner-section h2 {
    color: white;
    padding: 1.5% 0%;
    font-size: 3rem;
}

.banner-section p {
    color: white;
    font-size: 1.5rem;
}

/* main section start */

main {
    height: 100vh;
    padding: 2.5% 9% 2.5% 7%;
    background-color: #f7f8fc;
}

.main-first-section {
    border-radius: 15px;
    margin: 0% auto;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    height: 70px;
}

.main-sec-btn {
    padding: 10px;
    margin: 5px;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    font-weight: 550;
    color: #4b5563;
}

.registration {
    color: white;
    background-color: #0B73B7;
}

.download-id:hover {
    background-color: rgb(235, 229, 229);
}

.result:hover {
    background-color: rgb(235, 229, 229);
}