* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* top part start navbar */

nav {
    background-color: #f7f8fc;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 9% 0% 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
}

.nav-logo-container {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60%;
    width: 100%;
    background-image: url("./Accets/Smit-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1);
}

.logo:hover {
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.nav-bar-lists {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.nav-bar-lists li {
    font-weight: 400;
    color: #364153;
    opacity: 0.8;
    font-size: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.0);
}

.nav-bar-lists li:hover {
    transform: scale(1.1);
    opacity: 1;
}

.enroll-btn {
    color: white;
    font-size: 1rem;
    border: none;
    padding: 8px 35px 8px 25px;
    border-radius: 20px;
    background-color: #0B73B7;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.enroll-btn i {
    position: absolute;
    right: 9px;
}

/* second part start banner */

.banner-section {
    /* background: linear-gradient(to right, #0B73B7, #8bd663); */
    background: linear-gradient(to right, #0069D0, rgba(109, 168, 0, 0.71));
    padding: 0% 9% 1% 7%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content-line-one {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding-top: 1.5%;
}

.banner-content-line-one i {
    font-size: 14px;
}

.banner-section h2 {
    color: white;
    padding: 1.5% 0%;
    font-size: 3rem;
}

.banner-section p {
    color: white;
    font-size: 1rem;
}

/* main section start */

main {
    padding: 2.5% 9% 2.5% 7%;
    background-color: #f7f8fc;
}

.main-first-section {
    border-radius: 15px;
    margin: 0% auto 5% auto;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    height: 70px;
}

.main-sec-btn {
    padding: 10px;
    margin: 5px;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    font-weight: 550;
    color: #4b5563;
}

.registration {
    color: white;
    background-color: #0B73B7;
}

.download-id:hover {
    background-color: rgb(235, 229, 229);
}

.result:hover {
    background-color: rgb(235, 229, 229);
}

/* main-section frist input's location & Course Details codding start */

.blue {
    color: #0B73B7;
}

.loc-details-heading {
    display: flex;
    align-items: center;
    margin: 50px 0px 30px 0px;
}

.loc-details-heading i {
    color: #0B73B7;
}

.loc-details-heading h2 {
    padding-left: 10px;
}

.main-firstsec-inputs {
    display: grid;
    grid-template: repeat(3, 100px)/repeat(2 1fr);
    gap: 20px;
}

.main-firstsec-inputs>div>p {
    font-weight: 550;
    color: #374151;
}

.select-input {
    width: 100%;
    padding: 20px 30px 20px 10px;
    border-radius: 15px;
    margin-top: 5px;
    font-size: 18px;
    color: #99a1b1;
    border: 2px solid #d1d5db;
    background-color: #f6f7fa;
}

.input-country {
    grid-area: 1/1/2/2;
}

.input-class-preference {
    grid-area: 1/2/2/3;
}

.input-genter {
    grid-area: 2/1/3/2;
}

.input-city {
    grid-area: 2/2/3/3;
}

.input-coures {
    grid-area: 3/1/4/3;
}

/* second section stat personal details */

.red {
    color: red;
    padding-left: 3px;
}

.small-text {
    font-size: 13px;
    position: relative;
    bottom: 2px;
}

.main-secondsec-inputs {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(2, 1fr);
    gap: 20px;
}

.main-secondsec-inputs>div>p {
    font-weight: 550;
    color: #374151;
}

.input-tag {
    width: 100%;
    padding: 20px 30px 20px 10px;
    border-radius: 15px;
    margin-top: 5px;
    font-size: 18px;
    color: #99a1b1;
    border: 2px solid #d1d5db;
    background-color: #f6f7fa;
}

.input-tag:focus {
    border: 2px solid #0B73B7;
}

.input-username {
    grid-area: 1/1/2/2;
}

.input-fathername {
    grid-area: 1/2/2/3;
}

.input-email {
    grid-area: 2/1/3/2;
}

.input-phone-numb {
    grid-area: 2/2/3/3;
}

.input-user-id-numb {
    grid-area: 3/1/4/2;
}

.input-father-id-numb {
    grid-area: 3/2/4/3;
}

.input-date {
    grid-area: 4/1/5/3;
}

.input-address {
    grid-area: 5/1/6/3;
}

/* third Section start */

.main-thirdsec-input>div>p {
    font-weight: 550;
    color: #374151;
}


.main-thirdsec-input {
    display: grid;
    grid-template: repeat(3, 80px) / repeat(2, 1fr);
    gap: 20px;
}

.computer-experty {
    grid-area: 1/1/2/2;
}

.last-quilification {
    grid-area: 1/2/2/3;
}

.where-did-you-hear-about-us {
    grid-area: 2/1/3/3;
}

.have-laptop-readio-input {
    grid-area: 3/1/4/3;
}

.radio-label {
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #374151;
    margin: 0px 10px;
}

.radio-btn {
    position: relative;
    top: 10px;
    border-color: #7c7c7c;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/* Section four start upload image */

.upload-image {
    border: 2px dashed #d1d5db;
    width: 100%;
}

.upload-image {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.upload-image i {
    display: flex;
    justify-content: center;
    font-size: 30px;
    border-radius: 30px;
    color: #0B73B7;
    background-color: #e8eff7;
    padding: 15px 30px;
    margin-bottom: 15px;
}

.upload-image-btn {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    padding: 12px 25px 12px 25px;
    border-radius: 8px;
    background-color: #0B73B7;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.upload-image p {
    color: #6b7280;
    font-size: 12px;
}

/* term condition starting */

.term-condition {
    width: 100%;
    border-radius: 10px;
    border: 1.5px solid #d5e4f2;
    background-color: #f2f5fb;
    padding: 25px 20px;
}

.checkboxarea {
    border-bottom: 1px solid #d5e4f2;
    margin-bottom: 10px;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.checkboxarea p {
    color: #374151;
    margin-left: 40px;
    position: relative;
    bottom: 23px;
}

.privacy-police p {
    color: #374151;
}

.privacy-police>p>a {
    color: #0B73B7;
    text-decoration: none;
}

.important-notice {
    width: 100%;
    margin: 30px 0px;
    border-radius: 10px;
    border: 1.5px solid #d5e4f2;
    background-color: #f2f5fb;
    position: relative;
    padding: 10px 10px 10px 60px;
}

.important-notice i {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #0B73B7;
    font-size: 18px;
}

.important-notice h3 {
    font-size: 16px;
    padding-bottom: 5px;
    color: #374151;
}

.important-notice p {
    color: #374151;
    font-size: 15px;
}

.submit-button {
    width: 100%;
    height: 60px;
    background-color: #0B73B7;
    color: white;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 12px;
    margin: 40px 0px;
    cursor: pointer;
    /* transition: all 0.5s;
    transform:scale(1); */
}

/* footer stert from here */

footer {
    background: linear-gradient(to bottom right, #1a1a1a, #2d2d2d, #1a1a1a);
}

.footer-section-one {
    padding: 2.5% 9% 2.5% 7%;
}

.footer-logo-imgs {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 20px;
}

.footer-logo-imgs>div>img {
    height: 45px;
}

.footer-list-area {
    display: flex;
    justify-content: space-between;
}

.footer-row-one {
    width: 270px;
}

.footer-row-one p {
    color: #9c9fa6;
    font-size: 16px;
}

.address>p>i {
    color: #0069D0;
    padding: 15px 10px 0px 0px;
}

.phone-number>p>i {
    color: rgba(109, 168, 0, 0.71);
    padding-right: 10px;
    padding-top: 15px;
}

.email>p>i {
    color: #0069D0;
    padding-right: 10px;
    padding-top: 15px;
}

.footer-more-row {
    color: #9c9fa6;
}

.footer-more-row h2{
    color:white;
}

.border-bottom {
    margin-top: 7.8px;
    height: 8px;
    width: 60px;
    background: linear-gradient(to right, #0069D0, rgba(109, 168, 0, 0.71));
    border-radius: 10px;
}

.footer-area-list li {
    padding: 6px 0px;
    list-style: none;
}

.footer-more-row a {
    color: #9c9fa6;
    text-decoration: none;
}

.footer-more-row a:hover {
    text-decoration: underline;
}

.footer-social-icons {
    margin: 20px 0px;
    display: flex;
    gap: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: #9c9fa6;
    font-size: 17px;
    border-radius: 50px;
    transition: all 1s;
}

.social-icons:hover {
    background: linear-gradient(to right, #0069D0, rgba(109, 168, 0, 0.71));
    color:white;
}

/* footer section second start */
.footer-sectiion-two{
    height:100px;
    background-color:#1b1b1b;
    border-top: 1px solid #9c9fa6;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.copy-right{
    padding-left:7%;
    color:#9c9fa6
}

.copy-right a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.privacy-term{
    padding-right:9%;
    display:flex;
    gap:40px;
    color: #9c9c9c;
}